<p style="color: green"><%= notice %></p>

<h1>User jogs</h1>

<div id="user_jogs">
  <% @user_jogs.each do |user_jog| %>
    <%= render user_jog %>
    <p>
      <%= link_to "Show this user jog", user_jog %>
    </p>
  <% end %>
</div>

<%= link_to "New user jog", new_user_jog_path %>
