<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>User group:</strong>
    <%= user.user_group_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= user.status %>
  </p>

</div>
